@model IEnumerable<StuManagement.Models.Event>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Activities)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Act)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PowerExerted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PowerDev)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Think)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SchoolYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListEventsNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Activities)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Act)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PowerExerted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PowerDev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Think)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ListEventsNavigation.ListEventId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EventId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EventId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EventId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
